[submodule "fish/functions/pure"]
	path = fish/functions/pure
	url = https://github.com/rafaelrinaldi/pure.git
[submodule "fish/functions/z"]
	path = fish/functions/z
	url = https://github.com/jethrokuan/z.git
[submodule "theming/Nordic"]
	path = theming/Nordic
	url = https://github.com/joshcass/Nordic.git
[submodule "theming/Nordic-Polar"]
	path = theming/Nordic-Polar
	url = https://github.com/joshcass/Nordic-Polar
[submodule "conf.d/config/fish/functions/pure"]
	path = conf.d/config/fish/functions/pure
	url = git@github.com:pure-fish/pure.git
[submodule "conf.d/config/fish/functions/z"]
	path = conf.d/config/fish/functions/z
	url = git@github.com:jethrokuan/z.git
