[submodule "fish/functions/pure"]
	path = fish/functions/pure
	url = https://github.com/rafaelrinaldi/pure.git
[submodule "fish/functions/z"]
	path = fish/functions/z
	url = https://github.com/jethrokuan/z.git
[submodule "theming/Nordic"]
	path = theming/Nordic
	url = https://github.com/joshcass/Nordic.git
[submodule "theming/Nordic-Polar"]
	path = theming/Nordic-Polar
	url = https://github.com/joshcass/Nordic-Polar
