[submodule "theming/Nordic"]
	path = theming/Nordic
	url = https://github.com/EliverLara/Nordic.git
[submodule "theming/Nordic-Polar"]
	path = theming/Nordic-Polar
	url = https://github.com/EliverLara/Nordic-Polar
[submodule "conf.d/config/fish/functions/pure"]
	path = conf.d/config/fish/functions/pure
	url = https://github.com/pure-fish/pure.git
[submodule "conf.d/config/fish/functions/z"]
	path = conf.d/config/fish/functions/z
	url = https://github.com/jethrokuan/z.git
